{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8">

            <div id="chart"></div>

            <script>
                let options = {{ options|raw }};
                let chart = new ApexCharts(document.querySelector("#chart"));
                chart.render();
            </script>
        </div>
        <div class="col-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Source</th>
                    <th scope="col">Users</th>
                    <th scope="col">Jobs</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in data %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value.users_total }}</td>
                        <td>{{ value.jobs_total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

