{% extends 'base.html.twig' %}
{% block title %}{{title}}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <p style="font-weight: bold;">{{ title }}</p>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Source</th>
                    <th scope="col">Number of jobs for search keyword AI</th>
                    <th scope="col">Number of jobs for search keyword ChatGPT</th>
                    <th scope="col">Percentage</th>
                </tr>
                </thead>
                <tbody>
                {% for key,value in data %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value.ai }}</td>
                        <td>{{ value.gpt }}</td>
                        <td>{{ value.percentage }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

